# Library

In [39]:
import pandas as pd
import numpy as np
import pybaseball as pb

# code

In [40]:
pb.playerid_lookup('kelly','merrill')#.loc[0][['name_last','name_first']].values[::-1]

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,kelly,merrill,518876,kellm002,kellyme01,11156,2019.0,2024.0

In [41]:
def get_id(name):
    try:
        f_name,l_name = name.split(' ')
    except:
        l_name = name
        f_name = None
        
    tmp_df = pb.playerid_lookup(l_name,f_name)
    for ind in range(len(tmp_df)):
        m_id = tmp_df.loc[ind,'key_mlbam']
        f_id = tmp_df.loc[ind,'key_fangraphs']
        s_season = int(tmp_df.loc[ind,'mlb_played_first'])
        e_season = int(tmp_df.loc[ind,'mlb_played_last'])
        
        print(' '.join(tmp_df.loc[ind,['name_last','name_first']].values[::-1]))
        print(f'mlb_id : {m_id}\nfangraphs_id : {f_id}\nstart : {s_season}\nend : {e_season}\n') 
    return m_id

In [42]:
pb.playerid_reverse_lookup([518876])

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,kelly,merrill,518876,kellm002,kellyme01,11156,2019.0,2024.0

In [43]:
def get_raw_statcast(id, player_type, start=None, end=None):
    start = int(pb.playerid_reverse_lookup([id])['mlb_played_first'].values[0])
    end = int(pb.playerid_reverse_lookup([id])['mlb_played_last'].values[0])
    if player_type=='P':
        raw_data = pb.statcast_pitcher(f'{start}-01-01',f'{end}-12-31',player_id = id)
    elif player_type == 'B':
        raw_data = pb.statcast_batter(f'{start}-01-01',f'{end}-12-31',player_id = id)
    return raw_data

In [44]:
def get_fg_data(id,start=None,end=None):
    start = int(pb.playerid_reverse_lookup([id])['mlb_played_first'].values[0])
    end = int(pb.playerid_reverse_lookup([id])['mlb_played_last'].values[0])
    fg_id = int(pb.playerid_reverse_lookup([id])['key_fangraphs'].values[0])
    tmp_fg = pb.pitching_stats(start,end)
    return tmp_fg[tmp_fg['IDfg']==fg_id]

In [45]:
tmp_id = get_id('merrill kelly')

merrill kelly
mlb_id : 518876
fangraphs_id : 11156
start : 2019
end : 2024

In [46]:
tmp_df = get_raw_statcast(tmp_id,'P')

Gathering Player Data

C:\Users\taeh0221\AppData\Local\Programs\Python\Python313\Lib\site-packages\pybaseball\utils.py:299: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(results)

In [47]:
tmp_df['n_thruorder_pitcher'].unique()

array([3, 2, 1, 4], dtype=object)

In [49]:
for i in tmp_df.columns:
    print(i)

pitch_type
game_date
release_speed
release_pos_x
release_pos_z
player_name
batter
pitcher
events
description
spin_dir
spin_rate_deprecated
break_angle_deprecated
break_length_deprecated
zone
des
game_type
stand
p_throws
home_team
away_team
type
hit_location
bb_type
balls
strikes
game_year
pfx_x
pfx_z
plate_x
plate_z
on_3b
on_2b
on_1b
outs_when_up
inning
inning_topbot
hc_x
hc_y
tfs_deprecated
tfs_zulu_deprecated
umpire
sv_id
vx0
vy0
vz0
ax
ay
az
sz_top
sz_bot
hit_distance_sc
launch_speed
launch_angle
effective_speed
release_spin_rate
release_extension
game_pk
fielder_2
fielder_3
fielder_4
fielder_5
fielder_6
fielder_7
fielder_8
fielder_9
release_pos_y
estimated_ba_using_speedangle
estimated_woba_using_speedangle
woba_value
woba_denom
babip_value
iso_value
launch_speed_angle
at_bat_number
pitch_number
pitch_name
home_score
away_score
bat_score
fld_score
post_away_score
post_home_score
post_bat_score
post_fld_score
if_fielding_alignment
of_fielding_alignment
spin_axis
delta_home_win_exp
delta_run_exp
bat_speed
swing_length
estimated_slg_using_speedangle
delta_pitcher_run_exp
hyper_speed
home_score_diff
bat_score_diff
home_win_exp
bat_win_exp
age_pit_legacy
age_bat_legacy
age_pit
age_bat
n_thruorder_pitcher
n_priorpa_thisgame_player_at_bat
pitcher_days_since_prev_game
batter_days_since_prev_game
pitcher_days_until_next_game
batter_days_until_next_game
api_break_z_with_gravity
api_break_x_arm
api_break_x_batter_in
arm_angle

In [51]:
tmp_df[['game_year','swing_length','hit_location']]

      game_year  swing_length  hit_location
0          2024           6.3           2.0
1          2024           8.1           NaN
2          2024           8.3           NaN
3          2024           8.0           NaN
4          2024           8.1           NaN
...         ...           ...           ...
14305      2019           NaN           NaN
14306      2019           NaN           NaN
14307      2019           NaN           NaN
14308      2019           NaN           NaN
14309      2019           NaN           7.0

[14310 rows x 3 columns]

In [21]:
tmp_df

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,n_thruorder_pitcher,n_priorpa_thisgame_player_at_bat,pitcher_days_since_prev_game,batter_days_since_prev_game,pitcher_days_until_next_game,batter_days_until_next_game,api_break_z_with_gravity,api_break_x_arm,api_break_x_batter_in,arm_angle
0,FC,2024-09-27,91.9,-1.95,5.32,"Kelly, Merrill",543309,518876,strikeout,foul_tip,...,3,2,6.0,1.0,NaN,1.0,1.81,-0.07,-0.07,19.4
1,CU,2024-09-27,84.1,-1.72,5.59,"Kelly, Merrill",543309,518876,NaN,foul,...,3,2,6.0,1.0,NaN,1.0,4.13,-0.56,-0.56,30.5
2,CH,2024-09-27,89.2,-1.79,5.45,"Kelly, Merrill",543309,518876,NaN,foul,...,3,2,6.0,1.0,NaN,1.0,2.86,1.39,1.39,23.1
3,SL,2024-09-27,85.0,-1.77,5.48,"Kelly, Merrill",543309,518876,NaN,foul,...,3,2,6.0,1.0,NaN,1.0,2.94,-0.19,-0.19,27.1
4,SL,2024-09-27,86.0,-1.69,5.49,"Kelly, Merrill",543309,518876,NaN,foul,...,3,2,6.0,1.0,NaN,1.0,2.80,-0.17,-0.17,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14305,CU,2019-02-28,81.6,-1.58,5.88,"Kelly, Merrill",656669,518876,NaN,blocked_ball,...,1,0,NaN,NaN,NaN,NaN,4.43,-0.47,-0.47,NaN
14306,FF,2019-02-28,90.8,-1.56,5.77,"Kelly, Merrill",656669,518876,NaN,called_strike,...,1,0,NaN,NaN,NaN,NaN,1.86,0.29,0.29,NaN
14307,FF,2019-02-28,93.3,-1.68,5.75,"Kelly, Merrill",656669,518876,NaN,ball,...,1,0,NaN,NaN,NaN,NaN,1.31,0.39,0.39,NaN
14308,FF,2019-02-28,92.3,-1.57,5.75,"Kelly, Merrill",656669,518876,NaN,swinging_strike,...,1,0,NaN,NaN,NaN,NaN,1.52,0.64,0.64,NaN
14309,FF,2019-02-28,93.4,-1.90,5.72,"Kelly, Merrill",656185,518876,double,hit_into_play,...,1,0,NaN,NaN,NaN,NaN,1.24,0.50,-0.50,NaN

In [8]:
get_fg_data(518876)

,IDfg,Season,Name,Team,Age,W,L,WAR,ERA,G,...,Pit+ FC,Stf+ FS,Loc+ FS,Pit+ FS,Stuff+,Location+,Pitching+,Stf+ FO,Loc+ FO,Pit+ FO
115,11156,2022,Merrill Kelly,ARI,33,13,8,3.2,3.37,33,...,105.0,NaN,NaN,NaN,97.0,102.0,101.0,NaN,NaN,NaN
102,11156,2023,Merrill Kelly,ARI,34,12,8,3.2,3.29,30,...,96.0,NaN,NaN,NaN,96.0,103.0,100.0,NaN,NaN,NaN
235,11156,2019,Merrill Kelly,ARI,30,13,14,1.9,4.42,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN